.button {
    width: 30px;
    height: 30px;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.product {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.name {
    width: 200px;
}

.price {
    width: 110px;
}

.total {
    width: 70px;
}

.quantity {
    width: 120px;
}

.quanitityControls {
    display: flex;
    text-align: center;
    border: 1px solid gray;
    height: 38px;
    border-radius: 20px;
    padding: 3px;
}

.info {
    margin: 0 10%;
    text-align: right;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    opacity: 0.7;
    cursor: pointer;
    color:rgb(75, 75, 75);
}