
.display {
    display: flex;
    justify-content: space-around;
    margin: 4% 20%;
    /* padding: 10px 0; */
}

.info {
    margin-left: 5%;
    /* margin-right: 30%; */
}

.price {
    font-weight: bold;
    font-size: large;
    text-align: right;
    margin-bottom: 10px;
}

.button {
    float: right;
}

.description {
    border-bottom: 1px solid gray;
    height: 40px;
    margin-bottom: 50px;
}

.container {
    width: 400px;
    height: 400px;
}

.container img {
    width: 100%;
    border-radius: 10px;
}
